:root{
    --blue1: rgb(78, 127, 167);
    --blue2:rgb(151, 205, 226);
    --blue3:rgba(11, 169, 231);
    --blueback:rgba(217, 233, 236, 0.75);
}


body {
    margin: 0rem;
    background-color:var(--blueback);
 }


#mainlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--blue1);
}

#mainlinks * {
    text-align: center;
}

.toplinks {
    align-items: center;
    block-size: max-content;
    text-decoration:none;
    font-size: 1.75rem;
    padding: 0.3rem;
    color:white;
    background-color: var(--blue2);
    border-radius: 0.5rem;
    font-weight: 550;
    margin: 0.25rem;
    
}

.toplinks:hover{
    font-weight: bold;
}

#titlelink{
    background-color: var(--blue3);
}


.profilepicture {
    display: flex;
    border-radius: 10rem;
    width: 15rem
}

.mediablock {
    display: flexbox;
    align-items: center;
    padding: 2rem;
    margin-top: 0.5rem;
    background-color: blanchedalmond;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom: 0rem;
    background-color: rgb(78, 127, 167);
    width: 100%;
  }

  footer:first-child {
    display: flexbox;
    align-items: center;
    block-size: max-content;
    font-size: 1.63rem;
    padding: 0.3rem;
  }

  .bottomlinks{
    text-decoration:none;
    display: flexbox;
    block-size: max-content ;
    color:rgb(255, 255, 255);
    background-color: rgb(151, 205, 226);
    border-radius: 0.25rem;
    font-weight: 550;
    margin: 0.25rem;

  }


section{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

section div{
    block-size: max-content;
    margin-bottom: 1.5rem;}

.flexhorizontal{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 1.5rem;
} 



.previewpicture{
    margin: 1.5rem auto;
    border-radius: 3rem;
    background-color: rgb(247, 247, 247);
  }




.sectionlinks{
    align-items: center;
    block-size: max-content;
    text-decoration:none;
    font-size: 1.3rem;
    padding: 0.2rem;
    color:white;
    background-color: rgb(78, 127, 167);
    border-radius: 0.5rem;
    font-weight: 550;
    margin: 0.25rem
}

.sectionlinks:hover{
    background-color: var(--blue3);
}

#LinkedIn{
    block-size: max-content;
    margin:2rem;
}

#Linkedinlink{
    width: 3rem;
    height: auto;
    
}

#Linkedinlogo{
    background-color: aquamarine;
}

#elevatorpitch {
    block-size: max-content;
    margin:2rem;
}



#Cv div {
    block-size: max-content;
    margin:2rem;
}



article {
    margin:0.75rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.9rem;
}

article h2{
    margin: 4rem auto 3rem;
}

.longtext{
    max-width: 60ch;
}

.longtext p {
    text-align: justify;
    text-indent: 1em each-line;
}

.imagelink:hover{
    opacity: 75%;
}

.quicktext{
    max-width: 65ch;
    justify-content: center;
}

.quicktext p{
    text-align: center;

}



@media only screen and (min-width: 180px) and (max-width: 1150px) {
	#mainlinks {
		flex-direction: column;
	}

}

