body {
    margin: 0rem;
    background-color: rgb(255, 255, 255);
 }

#mainlinks {
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(78, 127, 167);
}

#mainlinks * {
    text-align: center;
}

.toplinks {
    display: flexbox;
    align-items: center;
    block-size: max-content;
    text-decoration:none;
    font-size: 1.63rem;
    padding: 0.3rem;
    color:rgb(255, 255, 255);
    background-color: rgb(151, 205, 226);
    border-radius: 0.5rem;
    font-weight: 550;
    margin: 0.25rem;
    
}

.toplinks:hover{
    font-weight: bold;
}

#titlelink{
    background-color: rgba(11, 169, 231, 0.986);
}

section {
    display: flex;
    margin:0rem;
}

.profilepicture {
    display: flex;
    border-radius: 10rem;
    width: 15rem
}

.mediablock {
    display: flexbox;
    align-items: center;
    padding: 2rem;
    margin-top: 0.5rem;
    background-color: blanchedalmond;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    bottom: 0rem;
    background-color: rgb(78, 127, 167);
    width: 100%;
  }

  footer:first-child {
    display: flexbox;
    align-items: center;
    block-size: max-content;
    font-size: 1.63rem;
    padding: 0.3rem;
  }

  .bottomlinks{
    text-decoration:none;
    display: flexbox;
    block-size: max-content ;
    color:rgb(255, 255, 255);
    background-color: rgb(151, 205, 226);
    border-radius: 0.25rem;
    font-weight: 550;
    margin: 0.25rem;

  }




@media only screen and (min-width: 320px) and (max-width: 991px) {
	#mainlinks {
		flex-direction: column;
	}
}
/* 